@keyframes slideDown {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateX(0);
    }
    30% {
        transform: translateX(-50px);
    }
    60% {
        transform: translateX(-15px);
    }
}

.pesan {
    animation: bounce 1.5s ease-in;
    position: fixed;
    top: 55px;
    right: 0;
}

/* Format kertas umum */
.kertas{
    height: 297mm;
    width: 210mm;
    background-color: white;
    padding: 0.8cm;
    margin: auto;
}
/* Format Kertas Id card */
.kertas-idcard{
    /* height: 297mm; */
    width: 210mm;
    background-color: white;
    padding: 0.8cm;
    margin: auto;
}

/* Format Id Card */
.cetak {
    display: flex;
    flex: auto;
}
#id-card{
    width: 50mm;
    height: 130mm;
    margin-left: 2px;
    margin-bottom: 2px;
    background-color: red;
    /* color: aqua; */
    
}

#foto-atlet{
    width: 28mm;
    height: 38mm;
    font-size-adjust: inherit;
}

/* Print Berkas */

@media print{
    nav, #tombol {
        display: none;
    }
}